*
!public
!public/*.css
!public/*.js
!public/*.svg
!public/favicon.ico
!public/img/
!public/img/*.png
!public/index.html
!public/overzicht.html
!src
!src/*.html
!src/index.sed
!src/nieuw.sh
!src/**/
!src/**/*.md
!sb3
!sb3/*.sb3
