public/*
!public/*.css
!public/*.js
!public/*.svg
!public/favicon.ico
!public/img/
!public/img/*.png
!public/index.html
src/*
!src/head.html
!src/index.sed
!src/tail.html
!src/nieuw.sh
!src/**/
!src/**/*.md
tmp
